.movieRowAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
  color: white;
  background-color: var(--blue);
  font-weight: var(--font-weight-semi-bold);
  text-transform: uppercase;
}

.movieRowAvatar__mediumText {
  font-size: var(--medium);
}

.movieRowAvatar__smallText {
  font-size: var(--small);
}
