.newMovieForm {
  padding: var(--large);
  border-bottom: var(--border-bottom);
}

.newMovieForm__gridRow {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: var(--medium);
  align-items: center;
}

.newMovieForm label {
  font-weight: var(--font-weight-semi-bold);
}

.newMovieForm input {
  font-family: var(--font-family);
  font-size: var(--medium);
  height: var(--input-height);
  padding-left: var(--medium);
  border: 1px solid #CCCCCC;
  border-radius: var(--border-radius);
}

.newMovieForm__nameRow {
  margin-bottom: var(--medium);
}

.newMovieForm__categoryRow {
  margin-bottom: var(--large);
}

.newMovieForm__ratingCell {
  justify-self: end;
}

.newMovieForm input::placeholder {
  color: var(--light-text);
}

.newMovieForm button[type="submit"] {
  margin-top: var(--large);
  width: 100%;
  font-size: var(--medium);
  font-weight: var(--font-weight-semi-bold);
  font-family: var(--font-family);
  height: var(--input-height);
  color: white;
  background: linear-gradient(var(--light-blue), var(--blue));
  border: 1px solid var(--blue);
  border-radius: var(--border-radius);
}
