.movieRow {
  padding: 32px var(--large);
  display: grid;
  align-items: center;
  grid-template-columns: var(--avatar-size) 1fr calc(var(--icon-size) * 5);
  column-gap: var(--medium);
  border-bottom: var(--border-bottom);
}

.movieRow__details {
  max-width: 45vw;
}

.movieRow__name {
  font-weight: var(--font-weight-semi-bold);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.movieRow__category {
  font-size: var(--small);
  font-weight: var(--font-weight-medium);
  color: var(--light-text);
}

.movieRow__rating {
  justify-self: end;
}
