:root {
  /* Sizes */
  --small: 16px;
  --medium: 24px;
  --large: 40px;
  --icon-size: 32px;
  --caret-size: 16px;
  --input-height: 72px;
  --avatar-size: 64px;

  /* Typography */
  --font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 600;

  /* Borders */
  --border-bottom: 1px solid #EEEEEE;
  --border-radius: 8px;

  /* Colors */
  --blue: #61A0FF;
  --light-blue: #94BFFF;
  --light-text: #AAAAAA;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--medium);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 620px) {
  :root {
    /* Sizes */
    --small: 12px;
    --medium: 18px;
    --large: 32px;
    --icon-size: 28px;
    --caret-size: 14px;
    --input-height: 64px;
    --avatar-size: 56px;
  }
}

@media (max-width: 500px) {
  :root {
    /* Sizes */
    --small: 10px;
    --medium: 16px;
    --large: 24px;
    --icon-size: 22px;
    --caret-size: 12px;
    --input-height: 48px;
    --avatar-size: 40px;
  }
}

