.screenItSelect {
  position: relative;
}

.screenItSelect:after {
  content: '';
  position: absolute;
  pointer-events: none;
  right: calc(var(--caret-size) + 2px);
  top: calc((var(--input-height) - var(--caret-size)) / 2);
  bottom: calc((var(--input-height) - var(--caret-size)) / 2);
  height: 0;
  width: 0;
  border-left: calc(var(--caret-size) / 2) solid transparent;
  border-right: calc(var(--caret-size) / 2) solid transparent;
  border-top: var(--caret-size) solid #D8D8D8;
}

.screenItSelect option[value=""] {
  color: var(--light-text);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: var(--font-family);
  width: 100%;
  font-size: var(--medium);
  height: var(--input-height);
  padding-left: var(--medium);
  border: 1px solid #CCCCCC;
  border-radius: var(--border-radius);
}

.placeholder {
  color: var(--light-text);
}
